@import "./reset";
@import "./palette";
@import "./menu";
@import "./mint";

body {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1;
  background-color: $raisin-black;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  // justify-content: space-between;
}

.main {
  &__content {
    height: 80vh;
    padding: 20px;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }
}
